.bicycle-page-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bicycle-window-wrapper {
    width: 95%;
    height: 95%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}