.desktop-icon {
    width: 80px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-icon:hover {
    background-color: rgba(11, 97, 255, 0.2);
    border: 1px dotted rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: 9px;
}

.desktop-icon img {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
}

.desktop-icon span {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 13px;
    font-family: 'Tahoma', sans-serif;
    line-height: 1.2;
}